@model User
<!doctype html>
<html lang="en" dir="ltr">


<head>
    <meta charset="UTF-8">
    <meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=0'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="Description" content="Job board html template">
    <meta name="Author" content="Spruko Technologies Private Limited">
    <meta name="keywords" content="bootstrap job board template, bootstrap job template, hr consultancy website template, job board bootstrap template, job board html template, job listing html template, job portal html template, job portal templates html5, job posting website template, job recruitment website template, job template bootstrap, job template html, simple html and css templates, simple html css templates, directory listing html template, classified website template, responsive css template, html5 responsive template, job posting template, simple bootstrap template, bootstrap 4 templates, job application template, html5 template, premium, recruitment, template, html, job alert, directory" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />

    <!-- Title -->
    <title>rejoin - Job board html template</title>

    <!-- Bootstrap Css -->
    <link href="~/plugins/bootstrap-4.3.1-dist/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Dashboard Css -->
    <link href="~/css/style.css" rel="stylesheet" />

    <!-- Font-awesome  Css -->
    <link href="~/css/icons.css" rel="stylesheet" />

    <!--Horizontal Menu-->
    <link href="~/plugins/horizontal/horizontal-menu/animation/fade-down.css" rel="stylesheet" />
    <link href="~/plugins/horizontal/horizontal-menu/horizontal.css" rel="stylesheet" />

    <!--Select2 Plugin -->
    <link href="~/plugins/select2/select2.min.css" rel="stylesheet" />

    <!-- Cookie css -->
    <link href="~/plugins/cookie/cookie.css" rel="stylesheet">

    <!-- Owl Theme css-->
    <link href="~/plugins/owl-carousel/owl.carousel.css" rel="stylesheet" />

    <!-- Custom scroll bar css-->
    <link href="~/plugins/scroll-bar/jquery.mCustomScrollbar.css" rel="stylesheet" />

    <!-- Switcher css -->
    <link href="~/switcher/css/switcher.css" rel="stylesheet" id="switcher-css" type="text/css" media="all" />

    <!-- COLOR-SKINS -->
    <link id="theme" rel="stylesheet" type="text/css" media="all" href="~/color-skins/color-skins/color10.css" />
    <link rel="stylesheet" href="~/color-skins/demo.css" />

</head>
<body>

    <!-- Start Switcher -->
    <div class="switcher-wrapper ">
        <div class="demo_changer">
            <div class="demo-icon bg_dark"><i class="fa fa-cog fa-spin  text_primary"></i></div>
            <div class="form_holder right-sidebar">
                <div class="row">
                    <div class="predefined_styles">
                        <div class="skin-theme-switcher">
                            <div class="swichermainleft">
                                <div class="d-flex w-100 border-bottom">
                                    <h4>Settings</h4>
                                </div>
                                <div class="switch_section">
                                    <div class="switch-toggle d-flex mt-3">
                                        <span class="mr-auto">Top Header light</span>
                                        <div class="onoffswitch2">
                                            <input type="radio" name="onoffswitch2" id="myonoffswitch" class="onoffswitch2-checkbox">
                                            <label for="myonoffswitch" class="onoffswitch2-label"></label>
                                        </div>
                                    </div>
                                </div>
                                <div class="switch_section">
                                    <div class="switch-toggle d-flex">
                                        <span class="mr-auto">Top Header Dark</span>
                                        <div class="onoffswitch2">
                                            <input type="radio" name="onoffswitch2" id="myonoffswitch1" class="onoffswitch2-checkbox">
                                            <label for="myonoffswitch1" class="onoffswitch2-label"></label>
                                        </div>
                                    </div>
                                </div>
                                <div class="switch_section switcher-gradient-colors">
                                    <div class="switch-toggle d-flex">
                                        <span class="mr-auto">Header Gradient</span>
                                        <div class="onoffswitch2">
                                            <input type="checkbox" name="onoffswitch3" id="myonoffswitch2" class="onoffswitch2-checkbox">
                                            <label for="myonoffswitch2" class="onoffswitch2-label"></label>
                                        </div>
                                    </div>
                                </div>
                                <div class="switch_section">
                                    <div class="switch-toggle d-flex">
                                        <span class="mr-auto">Banner Dark</span>
                                        <div class="onoffswitch2">
                                            <input type="checkbox" name="onoffswitch3" id="myonoffswitch4" class="onoffswitch2-checkbox">
                                            <label for="myonoffswitch4" class="onoffswitch2-label"></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="skin-theme-switcher">
                                <div class="swichermainleft">
                                    <h4>Gradient-colors</h4>
                                    <a class="colorcode blackborder color1" href="#" data-theme="~/color-skins/color-skins/color1.css"></a>
                                    <a class="colorcode blackborder color2" href="#" data-theme="~/color-skins/color-skins/color2.css"></a>
                                    <a class="colorcode blackborder color3" href="#" data-theme="~/color-skins/color-skins/color3.css"></a>
                                    <a class="colorcode blackborder color4" href="#" data-theme="~/color-skins/color-skins/color4.css"></a>
                                    <a class="colorcode blackborder color5" href="#" data-theme="~/color-skins/color-skins/color5.css"></a>
                                    <a class="colorcode blackborder color6" href="#" data-theme="~/color-skins/color-skins/color6.css"></a>
                                    <a class="colorcode blackborder color7" href="#" data-theme="~/color-skins/color-skins/color7.css"></a>
                                    <a class="colorcode blackborder color8" href="#" data-theme="~/color-skins/color-skins/color8.css"></a>
                                    <a class="colorcode blackborder color9" href="#" data-theme="~/color-skins/color-skins/color9.css"></a>
                                    <a class="colorcode blackborder color10" href="#" data-theme="~/color-skins/color-skins/color10.css"></a>
                                    <h4>Flat-colors</h4>
                                    <a class="colorcode blackborder color11" href="#" data-theme="~/color-skins/color-skins/color11.css"></a>
                                    <a class="colorcode blackborder color12" href="#" data-theme="~/color-skins/color-skins/color12.css"></a>
                                    <a class="colorcode blackborder color13" href="#" data-theme="~/color-skins/color-skins/color13.css"></a>
                                    <a class="colorcode blackborder color14" href="#" data-theme="~/color-skins/color-skins/color14.css"></a>
                                    <a class="colorcode blackborder color15" href="#" data-theme="~/color-skins/color-skins/color15.css"></a>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="swichermainleft border-top  mt-2 text-center">
                                <div class="p-3">
                                    <a href="https://www.spruko.com/demo/rejoin/index.html" class="btn btn-primary btn-block mt-0">View Demo</a>
                                    <a href="https://themeforest.net/user/sprukosoft/portfolio" class="btn btn-secondary btn-block">Buy Now</a>
                                    <a href="https://themeforest.net/user/sprukosoft/portfolio" class="btn btn-info btn-block">Our Portfolio</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Switcher -->
    <!--Loader-->
    <div id="global-loader">
        <img src="https://www.spruko.com/demo/rejoin/assets/images/loader.svg" class="loader-img" alt="">
    </div>

    <!--Header Main-->
    <div class="header-main">
        <!--Top Bar-->
        <div class="top-bar">
            <div class="container">
                <div class="row">
                    <div class="col-xl-7 col-lg-7 col-sm-4 col-7">
                        <div class="top-bar-left d-flex justify-content-lg-start">
                            <div class="clearfix">
                                <ul class="socials">
                                    <li>
                                        <a class="social-icon" href="#"><i class="fab fa-facebook"></i></a>
                                    </li>
                                    <li>
                                        <a class="social-icon" href="#"><i class="fab fa-twitter"></i></a>
                                    </li>
                                    <li>
                                        <a class="social-icon" href="#"><i class="fab fa-linkedin"></i></a>
                                    </li>
                                    <li>
                                        <a class="social-icon" href="#"><i class="fab fa-google-plus"></i></a>
                                    </li>
                                </ul>
                            </div>
                            <div class="clearfix">
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-5 col-lg-5 col-sm-8 col-5">
                        <div class="top-bar-right">
                            <ul class="custom">
                                @if (Context.Request.Cookies["token"] != null)
                                {
                                    <li>
                                        <a><i class="fa fa-user mr-1"></i> <span>@ViewBag.UserName</span></a>
                                    </li>
                                    <li >
                                        <a asp-controller="Account" asp-action="Logout"><i class="fas fa-sign-out-alt"></i><span>Log Out</span></a>
                                    </li>
                                }
                                else
                                {
                                    <li>
                                        <a asp-controller="Account" asp-action="Register" class=""><i class="fa fa-user mr-1"></i> <span>Register</span></a>
                                    </li>
                                    <li>
                                        <a asp-controller="Account" asp-action="Login" class=""><i class="fas fa-sign-out-alt mr-1"></i> <span>Login</span></a>
                                    </li>
                                }


                               
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Top Bar-->
        <!-- Mobile Header -->
        <div class="horizontal-header clearfix ">
            <div class="container">
                <a id="horizontal-navtoggle" class="animated-arrow"><span></span></a>
                <span class="smllogo">
                    <a href="index.html" class="d-flex">
                        <svg version="1.0" xmlns="http://www.w3.org/2000/svg"
                             width="404.000000pt" height="361.000000pt" viewBox="0 0 404.000000 361.000000"
                             preserveAspectRatio="xMidYMid meet">
                            <g transform="translate(0.000000,361.000000) scale(0.100000,-0.100000)"
                               fill="#000000" stroke="none">
                                <path d="M1759 3525 c-25 -8 -64 -27 -86 -42 -22 -16 -370 -354 -772 -753
						-807 -799 -779 -768 -789 -902 -5 -74 13 -147 52 -204 27 -40 1437 -1458 1489
						-1498 66 -50 140 -66 312 -66 171 0 245 16 313 66 49 37 273 257 270 265 -2 4
						-292 298 -646 654 -354 356 -652 661 -663 678 -21 35 -25 99 -9 144 6 16 169
						184 378 389 l367 362 355 -360 c195 -198 363 -374 373 -391 21 -38 22 -86 3
						-132 -9 -21 -90 -109 -203 -219 l-188 -185 235 -236 235 -235 120 0 120 0 372
						365 c316 311 376 374 399 423 50 106 42 237 -20 328 -12 18 -351 364 -753 767
						-635 639 -738 738 -789 763 -58 28 -63 29 -244 31 -140 2 -196 -1 -231 -12z" />
                            </g>
                        </svg>
                        <h2 class="font-weight-bold mb-0 fs-30 text-dark mt-1">rejoin</h2>
                </span></a>
                <a href="#" class="callusbtn bg-light"><i class="fa fa-bell text-body" aria-hidden="true"></i></a>
            </div>
        </div>
        <!-- /Mobile Header -->
        <!--Horizontal-main-->
        <div class="horizontal-main clearfix">
            <div class="horizontal-mainwrapper container clearfix">
                <div class="desktoplogo">
                    <a href="index.html" class="d-flex">
                        <svg version="1.0" xmlns="http://www.w3.org/2000/svg"
                             width="404.000000pt" height="361.000000pt" viewBox="0 0 404.000000 361.000000"
                             preserveAspectRatio="xMidYMid meet">
                            <g transform="translate(0.000000,361.000000) scale(0.100000,-0.100000)"
                               fill="#000000" stroke="none">
                                <path d="M1759 3525 c-25 -8 -64 -27 -86 -42 -22 -16 -370 -354 -772 -753
						-807 -799 -779 -768 -789 -902 -5 -74 13 -147 52 -204 27 -40 1437 -1458 1489
						-1498 66 -50 140 -66 312 -66 171 0 245 16 313 66 49 37 273 257 270 265 -2 4
						-292 298 -646 654 -354 356 -652 661 -663 678 -21 35 -25 99 -9 144 6 16 169
						184 378 389 l367 362 355 -360 c195 -198 363 -374 373 -391 21 -38 22 -86 3
						-132 -9 -21 -90 -109 -203 -219 l-188 -185 235 -236 235 -235 120 0 120 0 372
						365 c316 311 376 374 399 423 50 106 42 237 -20 328 -12 18 -351 364 -753 767
						-635 639 -738 738 -789 763 -58 28 -63 29 -244 31 -140 2 -196 -1 -231 -12z" />
                            </g>
                        </svg>
                        <h2 class="font-weight-bold mb-0 fs-30 text-dark mt-1">rejoin</h2>
                    </a>
                </div>
                <div class="desktoplogo-1">
                    <a href="index.html" class="d-flex">
                        <svg version="1.0" xmlns="http://www.w3.org/2000/svg"
                             width="404.000000pt" height="361.000000pt" viewBox="0 0 404.000000 361.000000"
                             preserveAspectRatio="xMidYMid meet">
                            <g transform="translate(0.000000,361.000000) scale(0.100000,-0.100000)"
                               fill="#000000" stroke="none">
                                <path d="M1759 3525 c-25 -8 -64 -27 -86 -42 -22 -16 -370 -354 -772 -753
						-807 -799 -779 -768 -789 -902 -5 -74 13 -147 52 -204 27 -40 1437 -1458 1489
						-1498 66 -50 140 -66 312 -66 171 0 245 16 313 66 49 37 273 257 270 265 -2 4
						-292 298 -646 654 -354 356 -652 661 -663 678 -21 35 -25 99 -9 144 6 16 169
						184 378 389 l367 362 355 -360 c195 -198 363 -374 373 -391 21 -38 22 -86 3
						-132 -9 -21 -90 -109 -203 -219 l-188 -185 235 -236 235 -235 120 0 120 0 372
						365 c316 311 376 374 399 423 50 106 42 237 -20 328 -12 18 -351 364 -753 767
						-635 639 -738 738 -789 763 -58 28 -63 29 -244 31 -140 2 -196 -1 -231 -12z" />
                            </g>
                        </svg>
                        <h2 class="font-weight-bold mb-0 fs-30 text-dark mt-1">rejoin</h2>
                    </a>
                </div>
                <!--Nav-->
                <nav class="horizontalMenu clearfix d-md-flex">
                    <ul class="horizontalMenu-list">
                        <li>
                            <a asp-action="index" asp-controller="home">Home</a>
                        </li>
                        <li><a href="about.html">About Us </a></li>
                        <li><a href="contact.html"> Contact Us <span class="horizontal-arrow"></span></a></li>
                        <li>
                            <a href="#">Pages <span class="fa fa-caret-down m-0"></span></a>
                            <ul class="sub-menu">
                                <li><a asp-action="Alljobs" asp-controller="job">Jobs</a></li>
                                <li><a asp-action="AllCompanies" asp-controller="company">Companies</a></li>
                                <li><a href="categories.html">Candidates</a></li>
                            </ul>
                            @*<a href="#">Pages <span class="fa fa-caret-down m-0"></span></a>
            <div class="horizontal-megamenu clearfix">
                <div class="container">
                    <div class="megamenu-content">
                        <div class="row">*@
                            @*<ul class="col link-list">
                            <li class="title">Job List pages</li>
                            <li><a href="jobs-list.html">Jobs List</a></li>
                            <li><a href="jobs-list-right.html">Jobs List Right</a></li>
            <li><a href="jobs-list-map.html">Jobs Map list</a></li>
            <li><a href="jobs-list-map2.html">Jobs Map list 02</a></li>
            <li><a href="jobs-list-map3.html">Jobs Map style 03</a></li>
            <li><a href="jobs.html">Jobs Left</a></li>
            <li><a href="jobs-right.html">Jobs Rights </a></li>
                        <li class="title mt-4">Candidate list Pages</li>
            <li><a href="candidate-listing.html">Candidate Listing</a></li>
            <li><a href="candidate-listing2.html">Candidate Listing Style2</a></li>
            <li><a href="candidate-profile.html">Candidate Profile</a></li>
                        </ul>
                                <ul class="col link-list">
                            <li class="title">Candidate pages</li>
                            <li><a href="advanced-search.html">Advanced Search</a></li>
                            <li><a href="create-resume.html">Create Resume </a></li>
                            <li class="title mt-4">Company List Pages</li>
                            <li><a href="company-list.html">Company Listing</a></li>
            <li><a href="company-list2.html">Company Listing Style2</a></li>
                            <li><a href="company-details.html">Company Details</a></li>
                            <li><a href="company-reviews.html">Company Reviews</a></li>
                            <li><a href="company-list-map.html">Company Map list</a></li>
            <li><a href="company-list-map2.html">Company Map list 02</a></li>
            <li><a href="company-list-map3.html">Company Map style 03</a></li>
            <li><a href="my-jobs.html">My Jobs</a></li>
                        </ul>*@

                            @*<ul class="col link-list">*@
                            @*<li class="title">Widgets</li>
            <li><a href="widgets.html">Custom Widgets</a></li>
            <li><a href="widgets-carousel.html">Owl Carousel Widgets</a></li>
            <li><a href="widgets-verticalscroll.html">Vertical Scroll Widgets</a></li>*@
                            @*<li class="title mt-4">Pages</li>
            <li><a href="categories.html">Categories</a></li>
            <li><a href="jobs-list.html">Jobs List</a></li>
            <li><a href="company-details.html">Companies</a></li>*@
                            @*<li><a href="ad-posts.html">Ad Posts</a></li>*@
                            @*<li><a href="ad-posts2.html">Ad Posts2</a></li>
            <li><a href="pricing.html">Pricing Tables</a></li>*@
                            @*<li><a href="profile.html">Profile Page</a></li>
            <li><a href="userprofile.html"> User Profile</a></li> ------???
            <li><a href="usersall.html">User Lists</a></li> -----??? *@

                            @*</ul>*@
                            @*<ul class="col link-list">
                        <li class="title">User Pages</li>
                        <li><a href="inovice.html">Invoice</a></li>
            <li><a href="typography.html">Typography</a></li>
            <li><a href="underconstruction.html">Under Constructions</a></li>
            <li><a href="400.html">400 Error</a></li>
            <li><a href="404.html">404 Error</a></li>
            <li><a href="500.html">500 Error</a></li>
            <li><a href="404-inline.html">Inline Error</a></li>
                        <li><a asp-controller="Account" asp-action="Register">Register</a></li>
                        <li><a asp-controller="Account" asp-action="Login">Login</a></li>
                        <li><a href="login-2.html">Login 02</a></li>
            <li><a href="forgot.html">Forgot Password</a></li>
            <li><a href="lockscreen.html">Lock Screen</a></li>
            <li><a href="faq.html">Faq</a></li>
                    </ul>*@
                            @*<ul class="col link-list">
                        <li class="title">Headers & Footers</li>
            <li><a href="header-style1.html">Header Style 01</a></li>
            <li><a href="header-style2.html">Header Style 02</a></li>
            <li><a href="header-style3.html">Header Style 03</a></li>
            <li><a href="header-style4.html">Header Style 04</a></li>
            <li><a href="footer-style1.html">Footer Style 01</a></li>
            <li><a href="footer-style2.html">Footer Style 02</a></li>
            <li><a href="footer-style3.html">Footer Style 03</a></li>
            <li><a href="footer-style4.html">Footer Style 04</a></li>
                    </ul>*@
                            @*</div>
                    </div>
                </div>
            </div>*@
                        </li>
                        @*<li>
            <a href="#">Blog</a>
            <ul class="sub-menu">
                <li>
                    <a href="#">Blog Grid <i class="fa fa-angle-right float-right mt-1 d-none d-lg-block"></i></a>
                    <ul class="sub-menu">
                        <li><a href="blog-grid.html">Blog Grid Left</a></li>
                        <li><a href="blog-grid-right.html">Blog Grid Right</a></li>
                        <li><a href="blog-grid-center.html">Blog Grid Center</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Blog List <i class="fa fa-angle-right float-right mt-1 d-none d-lg-block"></i></a>
                    <ul class="sub-menu">
                        <li><a href="blog-list.html">Blog List Left</a></li>
                        <li><a href="blog-list-right.html">Blog List Right</a></li>
                        <li><a href="blog-list-center.html">Blog List Center</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Blog Details <i class="fa fa-angle-right float-right mt-1 d-none d-lg-block"></i></a>
                    <ul class="sub-menu">
                        <li><a href="blog-details.html">Blog Details Left</a></li>
                        <li><a href="blog-details-right.html">Blog Details Right</a></li>
                        <li><a href="blog-details-center.html">Blog Details Center</a></li>
                    </ul>
                </li>
            </ul>
        </li>*@
                        

                        @if (Context.Request.Cookies["token"] != null)
                        {

                            <li>
                                <a href="#">My Dashboard <span class="fa fa-caret-down m-0"></span></a>
                                <ul class="sub-menu">
                                    @if (ViewBag.IsCompany == true)
                                    {
                                        <li>
                                            <a asp-action="profile" asp-controller="account">My Profile</a>
                                        </li>
                                        <li>
                                            <a asp-action="details" asp-controller="company" asp-route-id="@ViewBag.UserId">My Company Details</a>
                                        </li>
                                        <li>
                                            <a asp-controller="job" asp-action="myjob">My Jobs</a>
                                        </li>
                                        <li>
                                            <a asp-action="create" asp-controller="job">Submit Job</a>
                                        </li>
                                    }
                                    else
                                    {
                                        <li>
                                            <a asp-action="profile" asp-controller="account">My Profile</a>
                                        </li>
                                        @if (ViewBag.HasResume == true)
                                        {
                                            <li>
                                                <a asp-action="index" asp-controller="">Edit Resume</a>
                                            </li>
                                        }
                                        else
                                        {
                                            <li>
                                                <a asp-action="index" asp-controller="resume">Create Resume</a>
                                            </li>
                                        }
                                    }
                                </ul>
                            </li>
                        }

                        }


                        @*<li class="d-lg-none mt-5 pb-2 mt-lg-0">
            <span><a class="btn btn-secondary ad-post mt-1" href="ad-posts.html"><i class="fa fa-briefcase"></i> Submit a Job</a></span>
        </li>
        <li class="d-lg-none mt-0 pb-5 mt-lg-0">
            <span><a class="btn btn-info ad-post mt-1" href="create-resume.html"><i class="fa fa-edit"></i> Create Resume</a></span>
        </li>*@
                    </ul>
                    @if (Context.Request.Cookies["token"] != null)
                    {
                        @if (ViewBag.IsCompany == true)
                        {
                            <ul class="mb-0 pr-2">
                                <li class="d-none d-lg-flex">
                                    <span><a class="btn btn-secondary ad-post mt-1" asp-action="create" asp-controller="job"><i class="fa fa-briefcase"></i> Submit a Job</a></span>
                                </li>
                            </ul>
                        }
                        else
                        {
                            if (ViewBag.HasResume == true)
                            {
                                <ul class="mb-0 pl-2">
                                    <li class="d-none d-lg-flex">
                                        <span><a class="btn btn-info ad-post mt-1" asp-action="index" asp-controller="resume"><i class="fa fa-edit"></i> Edit Resume</a></span>
                                    </li>
                                </ul>
                            }
                            else
                            {
                                <ul class="mb-0 pl-2">
                                    <li class="d-none d-lg-flex">
                                        <span><a class="btn btn-info ad-post mt-1" asp-action="index" asp-controller="resume"><i class="fa fa-edit"></i> Create Resume</a></span>
                                    </li>
                                </ul>
                            }
                        }
                    }
                </nav>
                <!--/Nav-->
            </div>
        </div>
        <!--/Horizontal-main-->
    </div>
    <!--/Header Main-->
    @RenderBody()
    <!--Footer Section-->
    <section>
        <footer class="bg-dark text-white cover-image" data-image-src="~/images/banners/banner3.jpg">
            <div class="footer-main">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-2 col-md-12">
                            <h6>Job Categories</h6>
                            <hr class="deep-purple  accent-2 mb-4 mt-0 d-inline-block mx-auto">
                            <ul class="list-unstyled mb-0">
                                <li><a href="#">Developement</a></li>
                                <li><a href="#">Designing</a></li>
                                <li><a href="#">Marketing</a></li>
                                <li><a href="#">Others</a></li>
                            </ul>
                        </div>
                        <div class="col-lg-2 col-md-12">
                            <h6>Job Type</h6>
                            <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto">
                            <ul class="list-unstyled mb-0">
                                <li><a href="#">Work from home</a></li>
                                <li><a href="#">Internship</a></li>
                                <li><a href="#">Part time</a></li>
                                <li><a href="#">Full time</a></li>
                            </ul>
                        </div>
                        <div class="col-lg-2 col-md-12">
                            <h6>Resources</h6>
                            <hr class="deep-purple  accent-2 mb-4 mt-0 d-inline-block mx-auto">
                            <ul class="list-unstyled mb-0">
                                <li><a href="#">Support</a></li>
                                <li><a href="#">FAQ</a></li>
                                <li><a href="#">Terms of Service</a></li>
                                <li><a href="#">Contact Details</a></li>
                            </ul>
                        </div>
                        <div class="col-lg-3 col-md-12">
                            <h6>Popular Ads</h6>
                            <hr class="deep-purple  accent-2 mb-4 mt-0 d-inline-block mx-auto">
                            <ul class="list-unstyled mb-0">
                                <li><a href="#"><i class="fa fa-caret-right text-white-50"></i> Educational college Ads</a></li>
                                <li><a href="#"><i class="fa fa-caret-right text-white-50"></i> Free Lancer for Web Developer</a></li>
                                <li><a href="#"><i class="fa fa-caret-right text-white-50"></i> Searching for Developer</a></li>
                                <li><a href="#"><i class="fa fa-caret-right text-white-50"></i> BPO Online In Bangalore</a></li>
                            </ul>
                        </div>
                        <div class="col-lg-3 col-md-12">
                            <h6 class="mb-2">Subscribe</h6>
                            <hr class="deep-purple  accent-2 mb-4 mt-0 d-inline-block mx-auto">
                            <div class="input-group w-100">
                                <input type="text" class="form-control " placeholder="Email">
                                <div class="input-group-append ">
                                    <button type="button" class="btn btn-primary "> Subscribe </button>
                                </div>
                            </div>
                            <h6 class="mb-2 mt-5">Payments</h6>
                            <hr class="deep-purple  accent-2 mb-4 mt-0 d-inline-block mx-auto">
                            <ul class="payments mb-0">
                                <li>
                                    <a href="javascript:;" class="payments-icon"><i class="fab fa-cc-amex" aria-hidden="true"></i></a>
                                </li>
                                <li>
                                    <a href="javascript:;" class="payments-icon"><i class="fab fa-cc-visa" aria-hidden="true"></i></a>
                                </li>
                                <li>
                                    <a href="javascript:;" class="payments-icon"><i class="fas fa-credit-card" aria-hidden="true"></i></a>
                                </li>
                                <li>
                                    <a href="javascript:;" class="payments-icon"><i class="fab fa-cc-mastercard" aria-hidden="true"></i></a>
                                </li>
                                <li>
                                    <a href="javascript:;" class="payments-icon"><i class="fab fa-cc-paypal" aria-hidden="true"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-white-50 border-top p-0">
                <div class="container">
                    <div class="row d-flex">
                        <div class="col-lg-8 col-sm-12  mt-2 mb-2 text-left ">
                            Copyright © 2019 <a href="index.html" class="fs-14 text-white">rejoin</a>. Designed by <a href="spruko.html" class="fs-14 text-white">Spruko</a> All rights reserved.
                        </div>
                        <div class="col-lg-4 col-sm-12 ml-auto mb-2 mt-2 d-none d-lg-block">
                            <ul class="social mb-0">
                                <li>
                                    <a class="social-icon" href="#"><i class="fab fa-facebook"></i></a>
                                </li>
                                <li>
                                    <a class="social-icon" href="#"><i class="fab fa-twitter"></i></a>
                                </li>
                                <li>
                                    <a class="social-icon" href="#"><i class="fa fa-rss"></i></a>
                                </li>
                                <li>
                                    <a class="social-icon" href="#"><i class="fab fa-youtube"></i></a>
                                </li>
                                <li>
                                    <a class="social-icon" href="#"><i class="fab fa-linkedin"></i></a>
                                </li>
                                <li>
                                    <a class="social-icon" href="#"><i class="fab fa-google-plus"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-white p-0 border-top">
                <div class="container">
                    <div class="p-2 text-center footer-links">
                        <a href="#" class="btn btn-link">How It Works</a>
                        <a href="#" class="btn btn-link">About Us</a>
                        <a href="#" class="btn btn-link">Pricing</a>
                        <a href="#" class="btn btn-link">Ads Categories</a>
                        <a href="#" class="btn btn-link">Privacy Policy</a>
                        <a href="#" class="btn btn-link">Terms Of Conditions</a>
                        <a href="#" class="btn btn-link">Blog</a>
                        <a href="#" class="btn btn-link">Contact Us</a>
                        <a href="#" class="btn btn-link">Premium Ad</a>
                    </div>
                </div>
            </div>
        </footer>
    </section>
    <!--Footer Section-->
    <!-- Notification -->
    <a href="advanced-search.html" id="notification"><span class="notification-text">Create Job Alert</span><i class="fa fa-bell"></i></a>

    <!-- Back to top -->
    <a href="#top" id="back-to-top"><i class="fa fa-arrow-up"></i></a>

    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/3da3c9c8f9.js" crossorigin="anonymous"></script>

    <!-- JQuery js-->
    <script src="~/js/vendors/jquery-3.2.1.min.js"></script>

    <!-- Bootstrap js -->
    <script src="~/plugins/bootstrap-4.3.1-dist/js/popper.min.js"></script>
    <script src="~/plugins/bootstrap-4.3.1-dist/js/bootstrap.min.js"></script>

    <!--JQuery Sparkline Js-->
    <script src="~/js/vendors/jquery.sparkline.min.js"></script>

    <!-- Circle Progress Js-->
    <script src="~/js/vendors/circle-progress.min.js"></script>

    <!-- Star Rating Js-->
    <script src="~/plugins/rating/jquery.rating-stars.js"></script>

    <!--Owl Carousel js -->
    <script src="~/plugins/owl-carousel/owl.carousel.js"></script>

    <!--Horizontal Menu-->
    <script src="~/plugins/horizontal/horizontal-menu/horizontal.js"></script>

    <!--Counters -->
    <script src="~/plugins/counters/counterup.min.js"></script>
    <script src="~/plugins/counters/waypoints.min.js"></script>
    <script src="~/plugins/counters/numeric-counter.js"></script>

    <!--JQuery TouchSwipe js-->
    <script src="~/js/jquery.touchSwipe.min.js"></script>

    <!--Select2 js -->
    <script src="~/plugins/select2/select2.full.min.js"></script>
    <script src="~/js/select2.js"></script>

    <!-- sticky Js-->
    <script src="~/js/sticky.js"></script>

    <!-- Switcher js -->
    <script src="~/switcher/js/switcher.js"></script>

    <!-- Cookie js -->
    <script src="~/plugins/cookie/jquery.ihavecookies.js"></script>
    <script src="~/plugins/cookie/cookie.js"></script>

    <!-- Custom scroll bar Js-->
    <script src="~/plugins/scroll-bar/jquery.mCustomScrollbar.concat.min.js"></script>

    <!-- Swipe Js-->
    <script src="~/js/swipe.js"></script>

    <!-- Scripts Js-->
    <script src="~/js/scripts2.js"></script>

    @RenderSection("Scripts", required: false)

    <!-- Custom Js-->
    <script src="~/js/custom.js"></script>
</body>


</html>


