
@{
    ViewData["Title"] = "Index";
}
@model ResumeIndexViewModel
@{
    ViewData["Title"] = "Resume";

    var User = ViewBag.UserName ?? "Name-Surname";
    var City = ViewBag.City ?? "City";
    var FirstName = ViewBag.Firstname ?? "First Name";
    var LastName = ViewBag.LastName ?? "Last Name";
    var Phone = ViewBag.Phone ?? "Phone";
    var Address = ViewBag.Address ?? "Home Adress";
    var ZipCode = ViewBag.Zip ?? "Zip Code";
    var Country = ViewBag.Country ?? "Select";
    var About = ViewBag.About ?? "Enter About your description";
    var Image = ViewBag.Image ?? "newUser.png";
}

<!--Sliders Section-->
<section>
    <div class="bannerimg cover-image bg-background3" data-image-src="~/images/banners/banner2.jpg">
        <div class="header-text mb-0">
            <div class="container">
                <div class="text-center text-white">
                    <h1>Create Resume</h1>
                    <ol class="breadcrumb text-center">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Pages</a></li>
                        <li class="breadcrumb-item active text-white" aria-current="page">Create Resume</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/Sliders Section-->
<!--Job posts-section-->
<section class="sptb">
    <div class="container">
        <div class="row ">

            <div class="col-lg-8 col-md-12 col-md-12">
                <form asp-controller="resume" asp-action="create" method="post" enctype="multipart/form-data">
                    <div class="card dropify-image-avatar">
                        <div class="card-header ">
                            <h3 class="card-title">Personal Data</h3>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-3 mb-4 mb-lg-0">
                                    <img src="~/images/users/@Image" class="brround" alt="user">
                                </div>
                                <div class="col-lg-9">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="form-label text-dark">Name</label>
                                                <input type="text" class="form-control" placeholder="Your Name" value="@FirstName" disabled>
                                            </div>
                                            <div class="form-group">
                                                <label class="form-label text-dark">Job Profession</label>
                                                <input type="text" asp-for="Resume.JobProfession" class="form-control" placeholder="Job Profession" required>
                                                <span asp-validation-for="Resume.JobProfession" class="text-danger"></span>
                                            </div>
                                            <div class="form-group mb-md-0">
                                                <label class="form-label text-dark">Email</label>
                                                <input type="email" class="form-control" placeholder="Email" value="@ViewBag.Email" disabled>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="form-label text-dark">Last Name</label>
                                                <input type="text" class="form-control" placeholder="last Name" value="@LastName" disabled>
                                            </div>
                                            <div class="form-group">
                                                <label class="form-label text-dark">Experience</label>
                                                <div class="row gutters-xs">
                                                    <div class="col-6">
                                                        <select asp-for="Resume.ExperienceYear" class="form-control custom-select select2-show-search" data-placeholder="Choose one (with searchbox)">
                                                            <option value="0">Year</option>
                                                            <option value="1">0</option>
                                                            <option value="2">1</option>
                                                            <option value="3">2</option>
                                                            <option value="4">3</option>
                                                            <option value="5">4</option>
                                                            <option value="6">5</option>
                                                            <option value="7">6</option>
                                                            <option value="8">7</option>
                                                            <option value="9">8</option>
                                                            <option value="10">9</option>
                                                            <option value="11">10</option>
                                                            <option value="12">11</option>
                                                        </select>
                                                        <span asp-validation-for="Resume.ExperienceYear" class="text-danger"></span>
                                                    </div>
                                                    <div class="col-6">
                                                        <select asp-for="Resume.ExperienceMonth" class="form-control custom-select select2-show-search" data-placeholder="Choose one (with searchbox)">
                                                            <option value="0">Month</option>
                                                            <option value="1">0</option>
                                                            <option value="2">1</option>
                                                            <option value="3">2</option>
                                                            <option value="4">3</option>
                                                            <option value="5">4</option>
                                                            <option value="6">5</option>
                                                            <option value="7">6</option>
                                                            <option value="8">7</option>
                                                            <option value="9">8</option>
                                                            <option value="10">9</option>
                                                            <option value="11">10</option>
                                                            <option value="12">11</option>
                                                        </select>
                                                        <span asp-validation-for="Resume.ExperienceMonth" class="text-danger"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group mb-0">
                                                <label class="form-label text-dark">Phone Number</label>
                                                <input type="text" class="form-control" placeholder="Your Number" value="@Phone" disabled>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card edu-card">
                        <div class="card-header ">
                            <h3 class="card-title">Education</h3>
                            <div class="card-options">
                                <a class="btn btn-light btn-sm btn-education"><i class="fa fa-plus"></i> Add Another</a>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label class="form-label text-dark">School Name</label>
                                <input asp-for="Education.SchoolName" type="text" class="form-control" placeholder="School Name" required>
                                <span asp-validation-for="Education.SchoolName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label class="form-label text-dark">Qualification</label>
                                <input asp-for="Education.Qualification" type="text" class="form-control" placeholder="Qualification" required>
                                <span asp-validation-for="Education.Qualification" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label class="form-label text-dark">Period</label>
                                <div class="row gutters-xs">
                                    <div class="col-6">
                                        <select asp-for="Education.StartSchool" class="form-control custom-select select2-show-search" data-placeholder="Choose one (with searchbox)">
                                            <option value="0">Since</option>
                                            <option value="2019">2019</option>
                                            <option value="2018">2018</option>
                                            <option value="2017">2017</option>
                                            <option value="2016">2016</option>
                                            <option value="2015">2015</option>
                                            <option value="2014">2014</option>
                                            <option value="2013">2013</option>
                                            <option value="2012">2012</option>
                                            <option value="2011">2011</option>
                                            <option value="2010">2010</option>
                                            <option value="2009">2009</option>
                                            <option value="2008">2008</option>
                                            <option value="2007">2007</option>
                                            <option value="2006">2006</option>
                                            <option value="2005">2005</option>
                                            <option value="2004">2004</option>
                                            <option value="2003">2003</option>
                                            <option value="2002">2002</option>
                                            <option value="2001">2001</option>
                                            <option value="2000">2000</option>
                                            <option value="1999">1999</option>
                                            <option value="1998">1998</option>
                                            <option value="1997">1997</option>
                                            <option value="1996">1996</option>
                                            <option value="1995">1995</option>
                                            <option value="1994">1994</option>
                                            <option value="1993">1993</option>
                                            <option value="1992">1992</option>
                                            <option value="1991">1991</option>
                                            <option value="1990">1990</option>
                                        </select>
                                        <span asp-validation-for="Education.StartSchool" class="text-danger"></span>
                                    </div>
                                    <div class="col-6">
                                        <select asp-for="Education.EndSchool" class="form-control custom-select select2-show-search" data-placeholder="Choose one (with searchbox)">
                                            <option value="0">Untill</option>
                                            <option value="2019">2019</option>
                                            <option value="2018">2018</option>
                                            <option value="2017">2017</option>
                                            <option value="2016">2016</option>
                                            <option value="2015">2015</option>
                                            <option value="2014">2014</option>
                                            <option value="2013">2013</option>
                                            <option value="2012">2012</option>
                                            <option value="2011">2011</option>
                                            <option value="2010">2010</option>
                                            <option value="2009">2009</option>
                                            <option value="2008">2008</option>
                                            <option value="2007">2007</option>
                                            <option value="2006">2006</option>
                                            <option value="2005">2005</option>
                                            <option value="2004">2004</option>
                                            <option value="2003">2003</option>
                                            <option value="2002">2002</option>
                                            <option value="2001">2001</option>
                                            <option value="2000">2000</option>
                                            <option value="1999">1999</option>
                                            <option value="1998">1998</option>
                                            <option value="1997">1997</option>
                                            <option value="1996">1996</option>
                                            <option value="1995">1995</option>
                                            <option value="1994">1994</option>
                                            <option value="1993">1993</option>
                                            <option value="1992">1992</option>
                                            <option value="1991">1991</option>
                                            <option value="1990">1990</option>
                                        </select>
                                        <span asp-validation-for="Education.EndSchool" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card work-card">
                        <div class="card-header ">
                            <h3 class="card-title">Working Experience</h3>
                            <div class="card-options">
                                <a class="btn btn-light btn-sm btn-work"><i class="fa fa-plus"></i> Add Another</a>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label class="form-label text-dark">Company Name</label>
                                <input asp-for="Work.CompanyName" type="text" class="form-control" placeholder="Company Name" required>
                                <span asp-validation-for="Work.CompanyName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label class="form-label text-dark">Position</label>
                                <input asp-for="Work.Position" type="text" class="form-control" placeholder="Position" required>
                                <span asp-validation-for="Work.Position" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label class="form-label text-dark">Period</label>
                                <div class="row gutters-xs">
                                    <div class="col-6">
                                        <select asp-for="Work.StartWork" class="form-control custom-select select2-show-search" data-placeholder="Choose one (with searchbox)">
                                            <option value="0">Since</option>
                                            <option value="2019">2019</option>
                                            <option value="2018">2018</option>
                                            <option value="2017">2017</option>
                                            <option value="2016">2016</option>
                                            <option value="2015">2015</option>
                                            <option value="2014">2014</option>
                                            <option value="2013">2013</option>
                                            <option value="2012">2012</option>
                                            <option value="2011">2011</option>
                                            <option value="2010">2010</option>
                                            <option value="2009">2009</option>
                                            <option value="2008">2008</option>
                                            <option value="2007">2007</option>
                                            <option value="2006">2006</option>
                                            <option value="2005">2005</option>
                                            <option value="2004">2004</option>
                                            <option value="2003">2003</option>
                                            <option value="2002">2002</option>
                                            <option value="2001">2001</option>
                                            <option value="2000">2000</option>
                                            <option value="1999">1999</option>
                                            <option value="1998">1998</option>
                                            <option value="1997">1997</option>
                                            <option value="1996">1996</option>
                                            <option value="1995">1995</option>
                                            <option value="1994">1994</option>
                                            <option value="1993">1993</option>
                                            <option value="1992">1992</option>
                                            <option value="1991">1991</option>
                                            <option value="1990">1990</option>
                                        </select>
                                        <span asp-validation-for="Work.StartWork" class="text-danger"></span>
                                    </div>
                                    <div class="col-6">
                                        <select asp-for="Work.EndWork" class="form-control custom-select select2-show-search" data-placeholder="Choose one (with searchbox)">
                                            <option value="0">Untill</option>
                                            <option value="2019">2019</option>
                                            <option value="2018">2018</option>
                                            <option value="2017">2017</option>
                                            <option value="2016">2016</option>
                                            <option value="2015">2015</option>
                                            <option value="2014">2014</option>
                                            <option value="2013">2013</option>
                                            <option value="2012">2012</option>
                                            <option value="2011">2011</option>
                                            <option value="2010">2010</option>
                                            <option value="2009">2009</option>
                                            <option value="2008">2008</option>
                                            <option value="2007">2007</option>
                                            <option value="2006">2006</option>
                                            <option value="2005">2005</option>
                                            <option value="2004">2004</option>
                                            <option value="2003">2003</option>
                                            <option value="2002">2002</option>
                                            <option value="2001">2001</option>
                                            <option value="2000">2000</option>
                                            <option value="1999">1999</option>
                                            <option value="1998">1998</option>
                                            <option value="1997">1997</option>
                                            <option value="1996">1996</option>
                                            <option value="1995">1995</option>
                                            <option value="1994">1994</option>
                                            <option value="1993">1993</option>
                                            <option value="1992">1992</option>
                                            <option value="1991">1991</option>
                                            <option value="1990">1990</option>
                                        </select>
                                        <span asp-validation-for="Work.EndWork" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
           
                    <div class="card">
                        <div class="card-header ">
                            <h3 class="card-title">Personal Skills</h3>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label class="form-label">Write Personal Skills <span class="form-label-small">56/100</span></label>
                                <textarea asp-for="Resume.PersonalSkills" class="form-control" name="example-textarea-input" rows="6" placeholder="text here.."></textarea>
                                <span asp-validation-for="Resume.PersonalSkills" class="text-danger"></span>
                            </div>
                        </div>
                    </div>


                    <div class="float-right mb-4 mb-lg-0">
                        <a class="btn btn-success w-150" href="#">Finish</a>
                    </div>

                </form>
            </div>
            @section Scripts{

                <script>
                    $(document).ready(function () {
                        
                        $('.btn-education').on("click", function () {
                           
                            $('.edu-card').after(`<div class="card edu-card">
                        <div class="card-header ">
                            <h3 class="card-title">Education</h3 >
                            <div class="card-options">
                                <a class="btn btn-light btn-sm btn-education"><i class="fa fa-plus"></i> Add Another</a>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label class="form-label text-dark">School Name</label>
                                <input type="text" class="form-control" placeholder="School Name" required>
                            </div>
                            <div class="form-group">
                                <label class="form-label text-dark">Qualification</label>
                                <input type="text" class="form-control" placeholder="Qualification" required>
                            </div>
                            <div class="form-group">
                                <label class="form-label text-dark">Period</label>
                                <div class="row gutters-xs">
                                    <div class="col-6">
                                        <select class="form-control custom-select select2-show-search" data-placeholder="Choose one (with searchbox)">
                                            <option value="0">Since</option>
                                            <option value="2019">2019</option>
                                            <option value="2018">2018</option>
                                            <option value="2017">2017</option>
                                            <option value="2016">2016</option>
                                            <option value="2015">2015</option>
                                            <option value="2014">2014</option>
                                            <option value="2013">2013</option>
                                            <option value="2012">2012</option>
                                            <option value="2011">2011</option>
                                            <option value="2010">2010</option>
                                            <option value="2009">2009</option>
                                            <option value="2008">2008</option>
                                            <option value="2007">2007</option>
                                            <option value="2006">2006</option>
                                            <option value="2005">2005</option>
                                            <option value="2004">2004</option>
                                            <option value="2003">2003</option>
                                            <option value="2002">2002</option>
                                            <option value="2001">2001</option>
                                            <option value="2000">2000</option>
                                            <option value="1999">1999</option>
                                            <option value="1998">1998</option>
                                            <option value="1997">1997</option>
                                            <option value="1996">1996</option>
                                            <option value="1995">1995</option>
                                            <option value="1994">1994</option>
                                            <option value="1993">1993</option>
                                            <option value="1992">1992</option>
                                            <option value="1991">1991</option>
                                            <option value="1990">1990</option>
                                        </select>
                                    </div>
                                    <div class="col-6">
                                        <select class="form-control custom-select select2-show-search" data-placeholder="Choose one (with searchbox)">
                                            <option value="0">Untill</option>
                                            <option value="2019">2019</option>
                                            <option value="2018">2018</option>
                                            <option value="2017">2017</option>
                                            <option value="2016">2016</option>
                                            <option value="2015">2015</option>
                                            <option value="2014">2014</option>
                                            <option value="2013">2013</option>
                                            <option value="2012">2012</option>
                                            <option value="2011">2011</option>
                                            <option value="2010">2010</option>
                                            <option value="2009">2009</option>
                                            <option value="2008">2008</option>
                                            <option value="2007">2007</option>
                                            <option value="2006">2006</option>
                                            <option value="2005">2005</option>
                                            <option value="2004">2004</option>
                                            <option value="2003">2003</option>
                                            <option value="2002">2002</option>
                                            <option value="2001">2001</option>
                                            <option value="2000">2000</option>
                                            <option value="1999">1999</option>
                                            <option value="1998">1998</option>
                                            <option value="1997">1997</option>
                                            <option value="1996">1996</option>
                                            <option value="1995">1995</option>
                                            <option value="1994">1994</option>
                                            <option value="1993">1993</option>
                                            <option value="1992">1992</option>
                                            <option value="1991">1991</option>
                                            <option value="1990">1990</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>`);
                        })

                        $('.btn-work').on("click", function () {
                            $('.work-card').after(` <div class="card">
                        <div class="card-header ">
                            <h3 class="card-title">Working Experience</h3>
                            <div class="card-options">

                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label class="form-label text-dark">Company Name</label>
                                <input type="text" class="form-control" placeholder="Company Name" required>
                            </div>
                            <div class="form-group">
                                <label class="form-label text-dark">Position</label>
                                <input type="text" class="form-control" placeholder="Position" required>
                            </div>
                            <div class="form-group">
                                <label class="form-label text-dark">Period</label>
                                <div class="row gutters-xs">
                                    <div class="col-6">
                                        <select class="form-control custom-select select2-show-search" data-placeholder="Choose one (with searchbox)">
                                            <option value="0">Since</option>
                                            <option value="2019">2019</option>
                                            <option value="2018">2018</option>
                                            <option value="2017">2017</option>
                                            <option value="2016">2016</option>
                                            <option value="2015">2015</option>
                                            <option value="2014">2014</option>
                                            <option value="2013">2013</option>
                                            <option value="2012">2012</option>
                                            <option value="2011">2011</option>
                                            <option value="2010">2010</option>
                                            <option value="2009">2009</option>
                                            <option value="2008">2008</option>
                                            <option value="2007">2007</option>
                                            <option value="2006">2006</option>
                                            <option value="2005">2005</option>
                                            <option value="2004">2004</option>
                                            <option value="2003">2003</option>
                                            <option value="2002">2002</option>
                                            <option value="2001">2001</option>
                                            <option value="2000">2000</option>
                                            <option value="1999">1999</option>
                                            <option value="1998">1998</option>
                                            <option value="1997">1997</option>
                                            <option value="1996">1996</option>
                                            <option value="1995">1995</option>
                                            <option value="1994">1994</option>
                                            <option value="1993">1993</option>
                                            <option value="1992">1992</option>
                                            <option value="1991">1991</option>
                                            <option value="1990">1990</option>
                                        </select>
                                    </div>
                                    <div class="col-6">
                                        <select class="form-control custom-select select2-show-search" data-placeholder="Choose one (with searchbox)">
                                            <option value="0">Untill</option>
                                            <option value="2019">2019</option>
                                            <option value="2018">2018</option>
                                            <option value="2017">2017</option>
                                            <option value="2016">2016</option>
                                            <option value="2015">2015</option>
                                            <option value="2014">2014</option>
                                            <option value="2013">2013</option>
                                            <option value="2012">2012</option>
                                            <option value="2011">2011</option>
                                            <option value="2010">2010</option>
                                            <option value="2009">2009</option>
                                            <option value="2008">2008</option>
                                            <option value="2007">2007</option>
                                            <option value="2006">2006</option>
                                            <option value="2005">2005</option>
                                            <option value="2004">2004</option>
                                            <option value="2003">2003</option>
                                            <option value="2002">2002</option>
                                            <option value="2001">2001</option>
                                            <option value="2000">2000</option>
                                            <option value="1999">1999</option>
                                            <option value="1998">1998</option>
                                            <option value="1997">1997</option>
                                            <option value="1996">1996</option>
                                            <option value="1995">1995</option>
                                            <option value="1994">1994</option>
                                            <option value="1993">1993</option>
                                            <option value="1992">1992</option>
                                            <option value="1991">1991</option>
                                            <option value="1990">1990</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>`)
                        })
                    })
                </script>

            }
            <div class="col-lg-4 col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Terms And Conditions</h3>
                    </div>
                    <div class="card-body">
                        <ul class="list-unstyled widget-spec  mb-0">
                            <li>
                                <i class="fa fa-check text-success" aria-hidden="true"></i>Money Not Refundable
                            </li>
                            <li>
                                <i class="fa fa-check text-success" aria-hidden="true"></i>You can renew your Premium ad after experted.
                            </li>
                            <li>
                                <i class="fa fa-check text-success" aria-hidden="true"></i>Premium ads are active for depend on package.
                            </li>
                            <li class="ml-5 mb-0">
                                <a href="tips.html"> View more..</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Benefits Of Premium Ad</h3>
                    </div>
                    <div class="card-body pb-2">
                        <ul class="list-unstyled widget-spec vertical-scroll mb-0">
                            <li>
                                <i class="fa fa-check text-success" aria-hidden="true"></i>Premium Ads Active
                            </li>
                            <li>
                                <i class="fa fa-check text-success" aria-hidden="true"></i>Premium ads are displayed on top
                            </li>
                            <li>
                                <i class="fa fa-check text-success" aria-hidden="true"></i>Premium ads will be Show in Google results
                            </li>
                            <li>
                                <i class="fa fa-check text-success" aria-hidden="true"></i>Premium Ads Active
                            </li>
                            <li>
                                <i class="fa fa-check text-success" aria-hidden="true"></i>Premium ads are displayed on top
                            </li>
                            <li>
                                <i class="fa fa-check text-success" aria-hidden="true"></i>Premium ads will be Show in Google results
                            </li>
                            <li>
                                <i class="fa fa-check text-success" aria-hidden="true"></i>Premium Ads Active
                            </li>
                            <li>
                                <i class="fa fa-check text-success" aria-hidden="true"></i>Premium ads are displayed on top
                            </li>
                            <li>
                                <i class="fa fa-check text-success" aria-hidden="true"></i>Premium ads will be Show in Google results
                            </li>
                            <li>
                                <i class="fa fa-check text-success" aria-hidden="true"></i>Premium Ads Active
                            </li>
                            <li>
                                <i class="fa fa-check text-success" aria-hidden="true"></i>Premium ads are displayed on top
                            </li>
                            <li>
                                <i class="fa fa-check text-success" aria-hidden="true"></i>Premium ads will be Show in Google results
                            </li>
                            <li>
                                <i class="fa fa-check text-success" aria-hidden="true"></i>Premium Ads Active
                            </li>
                            <li>
                                <i class="fa fa-check text-success" aria-hidden="true"></i>Premium ads are displayed on top
                            </li>
                            <li>
                                <i class="fa fa-check text-success" aria-hidden="true"></i>Premium ads will be Show in Google results
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="card mb-0">
                    <div class="card-header">
                        <h3 class="card-title">Safety Tips For Buyers</h3>
                    </div>
                    <div class="card-body">
                        <ul class="list-unstyled widget-spec  mb-0">
                            <li>
                                <i class="fa fa-check text-success" aria-hidden="true"></i> Meet Seller at public Place
                            </li>
                            <li>
                                <i class="fa fa-check text-success" aria-hidden="true"></i> Check item before you buy
                            </li>
                            <li>
                                <i class="fa fa-check text-success" aria-hidden="true"></i> Pay only after collecting item
                            </li>
                            <li class="ml-5 mb-0">
                                <a href="tips.html"> View more..</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/Job posts-section-->
